<!DOCTYPE html>
<!--BEGIN html-->
<html lang="en-US">
<!--BEGIN head-->
<head>
	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yale U.S. &#8211; China Forum</title>
<link rel="alternate" type="application/rss+xml" title="Yale U.S. - China Forum &raquo; Feed" href="http://uschinayale.org/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="Yale U.S. - China Forum &raquo; Comments Feed" href="http://uschinayale.org/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title="Yale U.S. - China Forum &raquo; 2015 Yale U.S.-China Forum Comments Feed" href="http://uschinayale.org/?feed=rss2&#038;page_id=21" />
<link rel='stylesheet' id='stylesheet-css'  href='http://uschinayale.org/wp-content/plugins/contact-bank/assets/css/stylesheet.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='system-message-css'  href='http://uschinayale.org/wp-content/plugins/contact-bank/assets/css/system-message.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='parallaxcss-css'  href='http://uschinayale.org/wp-content/themes/evolve/library/media/js/parallax/parallax.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='googlefont-css'  href='//fonts.googleapis.com/css?family=Roboto%3Ar%2Cb%2Ci&#038;ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesomecss-css'  href='http://uschinayale.org/wp-content/themes/evolve/library/media/js/fontawesome/css/font-awesome.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='maincss-css'  href='http://uschinayale.org/wp-content/themes/evolve/style.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrapcss-css'  href='http://uschinayale.org/wp-content/themes/evolve/library/media/js/bootstrap/css/bootstrap.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrapcsstheme-css'  href='http://uschinayale.org/wp-content/themes/evolve/library/media/js/bootstrap/css/bootstrap-theme.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css'  href='http://uschinayale.org/wp-content/plugins/contact-form-builder/css/jquery-ui-1.10.3.custom.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact_form_maker_frontend-css'  href='http://uschinayale.org/wp-content/plugins/contact-form-builder/css/contact_form_maker_frontend.css?ver=4.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='dynamic-css-css'  href='http://uschinayale.org/wp-admin/admin-ajax.php?action=evolve_dynamic_css&#038;ver=4.1.1' type='text/css' media='all' />
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/plugins/contact-bank/assets/js/jquery.Tooltip.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/plugins/contact-bank/assets/js/jquery.validate.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/parallax/parallax.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/parallax/modernizr.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/carousel.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/tipsy.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/fields.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/jquery.scroll.pack.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/supersubs.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/superfish.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/hoverIntent.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/buttons.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/ddslick.js?ver=4.1.1'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;language=en&#038;ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/bootstrap/js/bootstrap.js?ver=4.1.1'></script>
<script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=false&#038;ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/plugins/contact-form-builder/js/if_gmap_front_end.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/plugins/contact-form-builder/js/cfm_main_front_end.js?ver=1.0.18'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://uschinayale.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://uschinayale.org/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.1.1" />
<link rel='canonical' href='http://uschinayale.org/' />
<link rel='shortlink' href='http://uschinayale.org/' />
     
<!--END head-->  
</head>

<!--BEGIN body-->
<body>

<div id="wrapper">

<div id="top"></div>

	<!--BEGIN .header-->
		<div class="header">
     
	<!--BEGIN .container-->
	<div class="container container-header custom-header">
  
     
      <!--BEGIN #righttopcolumn-->  
  <div id="righttopcolumn"> 
                       
   <!--BEGIN #subscribe-follow-->
 
<div id="social">
   

<ul class="sc_menu">



<li><a target="_blank" href="https://www.facebook.com/pages/US-China-Forum-at-Yale/197697773586384" class="tipsytext" id="facebook" original-title="Facebook"><i class="fa fa-facebook"></i></a></li>









</ul></div> 

<!--END #subscribe-follow--> 
       
</div> 
  <!--END #righttopcolumn-->
  
   
   
   <a href=http://uschinayale.org><img id='logo-image' class='img-responsive' src=http://uschinayale.org/wp-content/uploads/2015/03/logo_cropped-e1426479217993.png /></a>   
     
      
     
     <!--BEGIN .title-container-->
     <div class="title-container">     
           
     
          
     <div id="logo"><a href="http://uschinayale.org">Yale U.S. &#8211; China Forum</a></div>
     
          
     <div id="tagline"></div> 
      
      <!--END .title-container-->
    </div>                        

	<!--END .container-->
		</div>
    
    

    
    		<!--END .header-->
		</div>
    
    
    
  
  <div class="menu-container">
  
  
  
        
  
  <div class="menu-header">  
  
  <!--BEGIN .container-menu-->
  <div class="container nacked-menu container-menu">

        
   <div class="primary-menu">   
 <nav id="nav" class="nav-holder link-effect"><div class="menu-about-us-container"><ul id="menu-about-us" class="nav-menu"><li id="menu-item-455" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-21 current_page_item menu-item-455 active"><a title="Home" href="http://uschinayale.org/"><span data-hover="Home">Home</span></a></li>
<li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7"><a title="About Us" href="http://uschinayale.org/?page_id=5"><span data-hover="About Us">About Us</span></a></li>
<li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a title="Agenda" href="http://uschinayale.org/?page_id=503"><span data-hover="Agenda">Agenda</span></a></li>
<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a title="Registration" href="http://www.eventbrite.com/e/2015-yale-us-china-forum-tickets-16184492252"><span data-hover="Registration">Registration</span></a></li>
<li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-446 dropdown"><a title="Past Conferences" href="http://uschinayale.org/?page_id=440"><span data-hover="Past Conferences">Past Conferences <span class="arrow"></span></span></a>
<ul class="sub-menu">
	<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-54 dropdown"><a title="2011 Conference" href="http://uschinayale.org/?page_id=50"><span data-hover="2011 Conference">2011 Conference</span></a>
	<ul class="sub-menu">
		<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a title="Agenda" href="http://uschinayale.org/?page_id=55"><span data-hover="Agenda">Agenda</span></a></li>
		<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a title="Speakers" href="http://uschinayale.org/?page_id=60"><span data-hover="Speakers">Speakers</span></a></li>
	</ul>
</li>
	<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-104 dropdown"><a title="2012 Conference" href="http://uschinayale.org/?page_id=102"><span data-hover="2012 Conference">2012 Conference</span></a>
	<ul class="sub-menu">
		<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a title="Agenda" href="http://uschinayale.org/?page_id=113"><span data-hover="Agenda">Agenda</span></a></li>
		<li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a title="Speakers" href="http://uschinayale.org/?page_id=180"><span data-hover="Speakers">Speakers</span></a></li>
		<li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222"><a title="Debate Competition" href="http://uschinayale.org/?page_id=220"><span data-hover="Debate Competition">Debate Competition</span></a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591"><a title="Contact Us" href="http://uschinayale.org/?page_id=589"><span data-hover="Contact Us">Contact Us</span></a></li>
<li id="menu-item-704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-704"><a title="Travel Information" href="http://uschinayale.org/?page_id=702"><span data-hover="Travel Information">Travel Information</span></a></li>
</ul></div>   
   </nav>  
   </div>      
       
  
            
          <!--BEGIN #searchform-->
       <form action="http://uschinayale.org" method="get" class="searchform">         
         <div id="search-text-box">
  <label class="searchfield" id="search_label_top" for="search-text-top"><input id="search-text-top" type="text" tabindex="1" name="s" class="search" placeholder="Type your search" /></label> 
  </div>        
</form>

<div class="clearfix"></div> 

<!--END #searchform-->

            
          
          
          

<header id="header" class="sticky-header">
	<div class="container">

     
   <a class='logo-url' href=http://uschinayale.org><img id='logo-image' src=http://uschinayale.org/wp-content/uploads/2015/03/logo_cropped-e1426479217993.png /></a>   
     
      
     
     
        	


		<nav id="nav" class="nav-holder">              
 <div class="menu-about-us-container"><ul id="menu-about-us-1" class="nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-21 current_page_item menu-item-455"><a href="http://uschinayale.org/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7"><a href="http://uschinayale.org/?page_id=5">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="http://uschinayale.org/?page_id=503">Agenda</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="http://www.eventbrite.com/e/2015-yale-us-china-forum-tickets-16184492252">Registration</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-446"><a href="http://uschinayale.org/?page_id=440">Past Conferences</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-54"><a href="http://uschinayale.org/?page_id=50">2011 Conference</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="http://uschinayale.org/?page_id=55">Agenda</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="http://uschinayale.org/?page_id=60">Speakers</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-104"><a href="http://uschinayale.org/?page_id=102">2012 Conference</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="http://uschinayale.org/?page_id=113">Agenda</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a href="http://uschinayale.org/?page_id=180">Speakers</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222"><a href="http://uschinayale.org/?page_id=220">Debate Competition</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591"><a href="http://uschinayale.org/?page_id=589">Contact Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-704"><a href="http://uschinayale.org/?page_id=702">Travel Information</a></li>
</ul></div> 	</nav>
	</div>
</header>          
          
      
       
              
       
             
       
       
       
       </div>
       
    </div>
          	
	<div class="menu-back">
  
                     

              
 	<div id='bootstrap-slider' class='carousel slide' data-ride='carousel'><div class='carousel-inner'><div class='item active'><img class='img-responsive' src='http://uschinayale.org/wp-content/uploads/2015/03/yale-e1426628204141.jpg' alt='' /><div class='carousel-caption'><h2>2015: Bilateral Relations in the New Era</h2><p>8am-6pm, Sunday April 12, 2015, Yale School of Management, 165 Whitney Street, New Haven, CT</p></div></div><div class='item'><img class='img-responsive' src='http://uschinayale.org/wp-content/uploads/2015/03/QQ20150312-1-e1426147259789.png' alt='' /><div class='carousel-caption'><h2>2012: From Win-Win to Mutual Trust</h2><a class="button" href="http://uschinayale.org/?page_id=66">Rearn more</a>
<a class="button" href="https://www.youtube.com/watch?v=4qsW6i_kebQ">Watch the video</a></div></div><div class='item'><img class='img-responsive' src='http://uschinayale.org/wp-content/uploads/2015/03/Dr.-Stephen-Roachs-keynote-speech-in-2012-forum-e1426634649150.jpg' alt='' /><div class='carousel-caption'><h2>What is going to happen between U.S. and China?</h2><p>Keynote Speech by Dr. Stephen Roach in 2012 Coference</p><a class="button" href="http://uschinayale.org/?page_id=243">Rearn more</a></div></div><div class='item'><img class='img-responsive' src='http://uschinayale.org/wp-content/uploads/2015/03/Professor-Fan-Gangs-keynote-speech-in-2012-forum-e1426635587967.jpg' alt='' /><div class='carousel-caption'><h2>Financial Reform of China and the Future Internalization of the RMB</h2><p>Kaynote Speech by Prof. Gang Fan in 2012 Conference</p><a class="button" href="http://uschinayale.org/?page_id=258">Rearn more</a></div></div></div><a class='left carousel-control' href='#bootstrap-slider' data-slide='prev'><img src='http://uschinayale.org/wp-content/themes/evolve/library/media/images/left-ar.png' /></a>
<a class='right carousel-control' href='#bootstrap-slider' data-slide='next'><img src='http://uschinayale.org/wp-content/themes/evolve/library/media/images/right-ar.png' /></a></div>     
    
    
 	 
  
  
         
       


         
  
  
        
        
               
     
      
      </div>
      
    
      
      </div> 
      
    
      
      
                 
       
             	<!--BEGIN .content-->
	<div class="content home singular page pageid-21">  
  
    
       	<!--BEGIN .container-->
	<div class="container container-center row">
  
		<!--BEGIN #content-->
		<div id="content">
    
    
  


    
    
    
      



			<!--BEGIN #primary .hfeed-->
			<div id="primary" class=" col-xs-12 col-sm-6 col-md-8 col-single      
      ">
      

           
 
 <!-- attachment begin -->  


       
      
      				
				<!--BEGIN .hentry-->
				<div id="post-21" class="post-21 page type-page status-publish hentry p publish first-page untagged"> 
				<h1 class="entry-title">2015 Yale U.S.-China Forum</h1>  
                    
                    
                    

					<!--BEGIN .entry-content .article-->
					<div class="entry-content article">
						<h2><strong>Introduction to Yale U.S. &#8211; China Forum<i></i></strong></h2>
<p>While some long-standing issues remain to be resolved between the U.S. and China, China’s fast-growing influence in the Asia and worldwide prompts the two nations to look beyond their discrepancies and seek sustainable bilateral relationship to tackle common challenges. Yale U.S.-China Forum focuses on a variety of cutting-edge issues in U.S.-China relations. Through extensive discussions and direct interactions with leaders and pioneers from various fields, the Forum offers unique perspectives to the Yale community and beyond to help develop &#8220;big pictures&#8221; of the world&#8217;s most important bilateral relationship of the 21st century.</p>
<h2><strong>2015: &#8220;Bilateral Relations In The New Era&#8221;</strong></h2>
<h3><strong><em>Background:</em></strong></h3>
<p>The past few years witnessed unprecedented advancement of the level of cooperation between the two &#8220;Major Powers&#8221;. In APEC China 2014, America and China jointly announced several key initiatives setting up examples for collaborations to come. On one hand, it&#8217;s the first time that a large developing country has agreed to limit its greenhouse gas emissions and that a new type of agreement called “pledge and review” is adopted; the two nations have agreed to share information on anti-corruption to hold criminals accountable; the consensus on global health epidemics prevention, etc.</p>
<p>On the other hand, however, the bilateral relationship has also been marked by growing tensions: With Washington’s Trans-Pacific Partnership (TPP) confronting Beijing’s Regional Comprehensive Economic Partnership (RCEP), China and the U.S. are engaged in unspoken economic competition. In addition, the U.S. worries about an increasingly assertive China, while China suspects that U.S. pursues encirclement and containment. How will the relations between this two &#8220;Major Powers&#8221; evolve and what are the opportunities we should seize? We hope this forum can shed light on these questions and point to practical solutions.</p>
<h3><strong><em>Aims to achieve:</em></strong></h3>
<ul>
<li>To provide participants an invaluable opportunity to directly interact with leading figures in various areas, and develop a clear understanding of the new directions in the U.S.-China bilateral relationship that the young generation should look into.</li>
<li>To serve as a bidirectional bridge on top of which Chinese and non-Chinese young generation can discuss pressing problems freely and meet with potential partners for future career takeoff.</li>
<li>To enhance the participation of Yale, as a leading university in the globe, into the development of new U.S.-China relations.</li>
</ul>
					<!--END .entry-content .article-->
          <div class="clearfix"></div> 
					</div>
          
             

					<!-- Auto Discovery Trackbacks
					<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
		<rdf:Description rdf:about="http://uschinayale.org/"
    dc:identifier="http://uschinayale.org/"
    dc:title="2015 Yale U.S.-China Forum"
    trackback:ping="http://uschinayale.org/wp-trackback.php?p=21" />
</rdf:RDF>					-->
				<!--END .hentry-->
				</div>
        
                       
				
			   
   
   
      

			<!--END #primary .hfeed-->
			</div>
      
        

   

        <!--BEGIN #secondary .aside-->
        <div id="secondary" class="aside col-sm-6 col-md-4">
    
        
			<div id="carousel-slider-2" class="widget carousel-slider"><div class="widget-content"><div class="before-title"><div class="widget-title-background"></div><h3 class="widget-title">Featured Speakers</h3></div>			<div class="textwidget"><table border="0" cellspacing="3" cellpadding="15" align="top" style="border-collapse: separate; border-spacing: 5px 20px;">
<tbody>
<tr>
<td width="130"><img src="http://uschinayale.org/wp-content/uploads/2015/04/Stephen-Roach.png" alt="" width="120" height="160" /></td>
<td><p><strong>Dr. Stephen Roach</strong></p>
Senior Lecturer, Yale School of Management;
Former Chairman of Morgan Stanley Asia and Chief Economist at Morgan Stanley</td>
</tr>
<tr>
<td width="130"><img src="http://uschinayale.org/wp-content/uploads/2015/04/Mike-McDonough.jpg" alt="" width="120" height="160" /></td>
<td><p><strong>Michael McDonough</strong></p>
Global Director of Economic Research
and Chief Economist,
Bloomberg Intelligence</td>
</tr>
<tr>
<td width="130"><img src="http://uschinayale.org/wp-content/uploads/2015/04/Esty_Daniel.jpg" alt="" width="120" height="160" /></td>
<td><p><strong>Daniel C. Esty</strong></p>
Hillhouse Professor of Environmental Law and Policy, Yale
University;
Director of the Center for Environmental Law and Policy;
Director, Center for Business &amp; Environment at Yale</td>
</tr>
<tr>
<td width="130"><img src="http://uschinayale.org/wp-content/uploads/2015/04/Shaohua-Ding.png" alt="" width="120" height="160" /></td>
<td><p><strong>Shaohua Ding</strong></p>
Senior Vice President,
Huawei Technologies Co., Ltd</td>
</tr>
<tr>
<td width="130"><img src="http://uschinayale.org/wp-content/uploads/2015/04/Dr.-Richard-Foster.png" alt="" width="120" height="160" /></td>
<td><p><strong>Dr. Richard Foster</strong></p>
Lecturer, Yale School of Management;
Managing Partner, Millbrook Management Group LLC;
Director (emeritus) and senior partner, McKinsey &amp; Company</td>
</tr>
</tbody>
</table>
</div>
		</div></div><div id="contact_form_maker_widget-2" class="widget contact_form_maker_widget"><div class="widget-content"><div class="before-title"><div class="widget-title-background"></div><h3 class="widget-title">Contact Us</h3></div>    <script type="text/javascript">
      function contactformOnload2() {
        /*if (jQuery.browser.msie  && parseInt(jQuery.browser.version, 10) === 8) {*/
        if (navigator.userAgent.toLowerCase().indexOf('msie') != -1 && parseInt(navigator.userAgent.toLowerCase().split('msie')[1]) === 8) {
          jQuery("#contactform2").find(jQuery("input[type='radio']")).click(function() {jQuery("input[type='radio']+label").removeClass('if-ie-div-label'); jQuery("input[type='radio']:checked+label").addClass('if-ie-div-label')});	
          jQuery("#contactform2").find(jQuery("input[type='radio']:checked+label")).addClass('if-ie-div-label');
          jQuery("#contactform2").find(jQuery("input[type='checkbox']")).click(function() {jQuery("input[type='checkbox']+label").removeClass('if-ie-div-label'); jQuery("input[type='checkbox']:checked+label").addClass('if-ie-div-label')});	
          jQuery("#contactform2").find(jQuery("input[type='checkbox']:checked+label")).addClass('if-ie-div-label');
        }
        jQuery("div[type='type_text'] input, div[type='type_number'] input, div[type='type_phone'] input, div[type='type_name'] input, div[type='type_submitter_mail'] input, div[type='type_textarea'] textarea").focus(function() {delete_value(this)}).blur(function() {return_value(this)});
        jQuery("div[type='type_number'] input, div[type='type_phone'] input").keypress(function(evt) {return check_isnum(evt)});

        jQuery('.wdform-element-section').each(function() {
          if (!jQuery(this).parent()[0].style.width && parseInt(jQuery(this).width()) != 0) {
            if (jQuery(this).css('display') == "table-cell") {
              if (jQuery(this).parent().attr('type') != "type_captcha") {
                jQuery(this).parent().css('width', parseInt(jQuery(this).width()) + parseInt(jQuery(this).parent().find(jQuery(".wdform-label-section"))[0].style.width)+15);
              }
              else {
                jQuery(this).parent().css('width', (parseInt(jQuery(this).parent().find(jQuery(".captcha_input"))[0].style.width)*2+50) + parseInt(jQuery(this).parent().find(jQuery(".wdform-label-section"))[0].style.width)+15);
              }
            }
          }
          if(parseInt(jQuery(this)[0].style.width.replace('px', '')) < parseInt(jQuery(this).css('min-width').replace('px', '')))
            jQuery(this).css('min-width', parseInt(jQuery(this)[0].style.width.replace('px', ''))-10);
        });	
        
        jQuery('.wdform-label').each(function() {
          if(parseInt(jQuery(this).height()) >= 2*parseInt(jQuery(this).css('line-height').replace('px', '')))
          {
            jQuery(this).parent().css('max-width',jQuery(this).parent().width());
            jQuery(this).parent().css('width','');
          }
        });
        if (jQuery(".cfm_style").parent().prop("tagName") == "P") {
          jQuery(".cfm_style").parent().css({padding: 0, margin: 0});
        }
        if_gmap_init("wdform_33", 2);add_marker_on_map("wdform_33",0, "-72.920344", "41.315289", "", 2,false);jQuery("#wd_captcha2").click(function() {captcha_refresh("wd_captcha","2")});jQuery("#_element_refresh2").click(function() {captcha_refresh("wd_captcha","2")});captcha_refresh("wd_captcha", "2");      }

      jQuery(window).load(function () {
        contactformOnload2();
      });

      form_view_count2 = 0;
      jQuery(document).ready(function () {
        if (document.getElementById(2+'contactform_view1')) {
          wdform_page = document.getElementById(2+'contactform_view1');
          remove_whitespace(wdform_page);
          n = wdform_page.childNodes.length - 2;
          for (z = 0; z <= n; z++) {
            if (wdform_page.childNodes[z]) {
              if (wdform_page.childNodes[z].getAttribute("disabled")) {
                var wdform_section_break = wdform_page.childNodes[z];
                move = wdform_section_break.nextSibling;
                to = wdform_section_break.previousSibling;
                l = move.childNodes.length;
                for (k = 0; k < l; k++) {
                  if (to.childNodes[k]) {
                    while (move.childNodes[k].firstChild) {
                      to.childNodes[k].appendChild(move.childNodes[k].firstChild);
                    }
                  }
                  else {
                    to.appendChild(move.childNodes[k]);
                  }
                }
                wdform_section_break.parentNode.removeChild(wdform_section_break.nextSibling);
                wdform_section_break.parentNode.removeChild(wdform_section_break);
              }
            }
          }
        }
      });
      function check_required2(but_type) {
        if (but_type == 'reset') {
          window.location = "/";
          return;
        }
        x = jQuery("#contactform2");
        
                  if (x.find(jQuery("div[wdid=3]")).length != 0) {
                    if (jQuery("#wdform_3_element_first2").val()=="" || jQuery("#wdform_3_element_first2").val()=="" || jQuery("#wdform_3_element_last2").val()=="" || jQuery("#wdform_3_element_last2").val()=="") {
                      alert("Name: field is required.");
                      old_bg=x.find(jQuery("div[wdid=3]")).css("background-color");
                      x.find(jQuery("div[wdid=3]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                      jQuery("#wdform_3_element_first2").focus();
                      return false;
                    }
                  }
                if (x.find(jQuery("div[wdid=4]")).length != 0) {
                  if (jQuery("#wdform_4_element2").val()=="someone@example.com" || jQuery("#wdform_4_element2").val()=="") {
                    alert("E-mail: field is required.");
                    jQuery("#wdform_4_element2").addClass( "form-error" );
                    old_bg=x.find(jQuery("div[wdid=4]")).css("background-color");
                    x.find(jQuery("div[wdid=4]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                    jQuery("#wdform_4_element2").focus();
                    jQuery("#wdform_4_element2").change(function() { if( jQuery(this).val()!="" ) jQuery(this).removeClass("form-error"); else jQuery(this).addClass("form-error");});
                    return false;
                  }
                }
              if (x.find(jQuery("div[wdid=4]")).length != 0) {
                if (jQuery("#wdform_4_element2").val() != "" && jQuery("#wdform_4_element2").val().search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) == -1) {
                  alert("This is not a valid email address.");
                  old_bg=x.find(jQuery("div[wdid=4]")).css("background-color");
                  x.find(jQuery("div[wdid=4]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                  jQuery("#wdform_4_element2").focus();
                  return false;
                }
              }
                if (x.find(jQuery("div[wdid=22]")).length != 0) {
                  if (jQuery("#wdform_22_element2").val()=="" || jQuery("#wdform_22_element2").val()=="") {
                    alert("Subject: field is required.");
                    jQuery("#wdform_22_element2").addClass( "form-error" );
                    old_bg=x.find(jQuery("div[wdid=22]")).css("background-color");
                    x.find(jQuery("div[wdid=22]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                    jQuery("#wdform_22_element2").focus();
                    jQuery("#wdform_22_element2").change(function() { if( jQuery(this).val()!="" ) jQuery(this).removeClass("form-error"); else jQuery(this).addClass("form-error");});
                    return false;
                  }
                }
                if (x.find(jQuery("div[wdid=23]")).length != 0) {
                  if (jQuery("#wdform_23_element2").val()=="" || jQuery("#wdform_23_element2").val()=="") {
                    alert("Details: field is required.");
                    jQuery("#wdform_23_element2").addClass( "form-error" );
                    old_bg=x.find(jQuery("div[wdid=23]")).css("background-color");
                    x.find(jQuery("div[wdid=23]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                    jQuery("#wdform_23_element2").focus();
                    jQuery("#wdform_23_element2").change(function() { if( jQuery(this).val()!="" ) jQuery(this).removeClass("form-error"); else jQuery(this).addClass("form-error");});
                    return false;
                  }
                }
              if (x.find(jQuery("div[wdid=28]")).length != 0) {
                if (jQuery("#wd_captcha_input2").val()=="") {
                  alert("Type the characters you see here: field is required.");
                  old_bg=x.find(jQuery("div[wdid=28]")).css("background-color");
                  x.find(jQuery("div[wdid=28]")).effect( "shake", {}, 500 ).css("background-color","#FF8F8B").animate({backgroundColor: old_bg}, {duration: 500, queue: false });
                  jQuery("#wd_captcha_input2").focus();
                  return false;
                }
              };
        var a = [];
        if (typeof a[2] !== 'undefined' && a[2] == 1) {
          return;
        }
        
              if (!jQuery("#wdform_27_element2").is(":checked")) {
                jQuery("<input type=\"hidden\" name=\"wdform_send_copy_2\" value = \"1\" />").appendTo("#contactform2");
              };
        a[2] = 1;
        document.getElementById("contactform"+2).submit();
      }
    </script>
    <style class="cfm_style">.contactform2 .wdform-page-and-images .other_input
{
max-width: none;
}.contactform2 
button, .contactform2
input, .contactform2
select, .contactform2
textarea
{
font-size:14px;
}.contactform2 
.warning, .contactform2
.error
{
background-color: #F0EFEF;
border: 1px solid #000000;
border-radius: 5px;
color: #000000;
padding: 5px;
}.contactform2 
.warning *, .contactform2
.error *
{
margin:0;
}.contactform2 
.recaptcha_input_area input
{
height:initial !important;
}.contactform2 
input[type="radio"]
{
border:none !important;
outline:none !important;
}.contactform2 
input[type="checkbox"]
{
border:none !important;
outline:none !important;
}.contactform2 
a.ui-spinner-button
{
border-radius:0px !important;
background: none!important;
}.contactform2 

a.ui-slider-handle {
width: 13px;
height: 13px;
top: -4px;
border: 0px;
border-radius: 13px;
background: #FAFAFA;
border: 3px solid #B1B1B1;
outline: none;
}.contactform2 

.ui-slider {
	height: 6px;
	background: #F5F5F5 !important;
	margin: 7px 0px;
}.contactform2 
.wdform_grading input {
	width: 100px;
}.contactform2 
.wdform-matrix-cell input[type="text"] {
	width: 100px;
}.contactform2 
.wdform-matrix-cell select {
	width: 60px;
}.contactform2 
.wdform_section .wdform_column:last-child {
	padding-right: 0px !important;
}.contactform2 
.wdform_preload {
	display: none;
}.contactform2 
.wdform_grading {
	padding: 3px 0px;
}.contactform2 
.wdform-matrix-table {
	display: table;
	border-spacing: 0px;
}.contactform2 
.wdform-matrix-column {
	text-align: left;
	display: table-cell;
}.contactform2 
.wdform-matrix-cell {
	text-align: center;
	display: table-cell;
	padding: 6px 10px;
}.contactform2 
.wdform-matrix-head>div {
	display: table-cell;
	text-align: center;
}.contactform2 
.wdform-matrix-head {
	display: table-row;
}.contactform2 
.wdform-matrix-row0 {
	background: #DFDFDF;
	display: table-row;
}.contactform2 
.wdform-matrix-row1 {
	background: #E9E9E9;
	display: table-row;
}.contactform2 
.selected-text {
	text-align: left;
	color: #000;
}.contactform2 
.wdform-quantity {
	width: 30px;
	margin: 2px 0px;
}.contactform2 
.wdform_scale_rating label {
	vertical-align: middle;
}.contactform2 
.ui-corner-all {
	border-radius: 0px;
}.contactform2 
.ui-widget-content {
	border: 0px;
	background: transparent;
}.contactform2 


.ui-slider-range {
	background: #8A8A8A !important;
}.contactform2 
.wdform_map {
	border: 6px solid #fff;
}.contactform2 
.wdform-page-and-images {
	width: 100%;
	border: 0px solid #000 !important;
padding-left:10px;
}.contactform2 
.paypal-property {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}.contactform2 
.sel-wrap {
	display: inline-block;
	vertical-align: middle;
	width:100%;
}.contactform2 

.sel-imul {
	display: none;
}.contactform2 
.sel-imul .sel-selected {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border-radius: 0px;
	padding: 0px 0px 0px 2px;
	font-size: 13px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	background: #F8F8F8;
	border: 0px solid #D3D3D3;
	background-position: right 2px center;
	width: 100%;
}.contactform2 
.sel-imul.act .sel-selected {
	background: #fff;
}.contactform2 
.sel-selected .sel-arraw {
	height: 23px;
	width: 30px;
	background: url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/09/01.png) 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px;
}.contactform2 
.sel-imul:hover .sel-selected .sel-arraw {
// background-color:#e0e0e0;
// border-left:1px solid #bbb;
}.contactform2 
.sel-imul.act .sel-selected .sel-arraw {
// background-color:#e0e0e0;
// border-left:1px solid #bbb;
}.contactform2 
.sel-imul .sel-options {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-top: none;
	position: absolute;
	width: inherit;
	display: none;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}.contactform2 
.sel-options .sel-option {
	padding: 3px 4px;
	font-size: 13px;
	border: 1px solid #fff;
	border-right: none;
	border-left: none;
	text-align: left;
}.contactform2 
.sel-options .sel-option:hover {
	border-color: #dbdbdb;
	cursor: pointer;
}.contactform2 
.sel-options .sel-option.sel-ed {
	background: #dbdbdb;
	border-color: #dbdbdb;
}.contactform2 
input[type=text]{
	margin: 0px;
}.contactform2 
input[type=password]{
	margin: 0px;
}.contactform2 
input[type=url]{
	margin: 0px;
}.contactform2 
input[type=email]{
	margin: 0px;
}.contactform2 
input.text{
	margin: 0px;
}.contactform2 
input.title{
	margin: 0px;
}.contactform2 
textarea{
	margin: 0px;
}.contactform2 
select {
	margin: 0px;
}.contactform2 
.form-error {
	border-color: red !important;
}.contactform2 
.form-error:focus {
	border-color: red !important;
}.contactform2 
.wdform-field {
	display: table-cell;
	padding: 5px 0px;
}.contactform2 
.wdform-label-section{
	text-align: left;
	display: table-cell;
}.contactform2 
.wdform-element-section {
	text-align: left;
	display: table-cell;
	min-width: 140px;
}.contactform2 
.file-upload input {
	position: absolute;
	visibility: hidden;
}.contactform2 
.file-upload-status {
	margin-left: 10px;
	max-width: 200px;
	font-weight: bold;
	font-size: 16px;
	color: #888;
	position: absolute;
	border-radius: 0px;
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	}.contactform2 
.file-picker {
	width: 41px;
	height: 32px;
	background: url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/10/02/upload.png) no-repeat;
	display: inline-block;
}.contactform2 
.next-page div.wdform-page-button {
color: #FFF;
cursor: pointer;
display: inline-block;
height: 38px;
line-height: 35px;
background:url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/10/next.png) no-repeat right #000;
padding: 0px 36px 0 20px;
vertical-align: middle;
font-size: 18px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
}.contactform2 
.previous-page div.wdform-page-button {
color: #A2A2A2;
cursor: pointer;
display: inline-block;
height: 37px;
line-height: 35px;
background:url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/09/previous.png) no-repeat left #F1F1F1;
padding: 0 20px 0 36px;
vertical-align: middle;
font-size: 18px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
}.contactform2 
.button-submit {
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	background: #000;
	padding: 0px 20px;
	vertical-align: middle;
	font-size: 18px;
	min-width: 80px;
	min-height: 35px;
	font-family: Segoe UI;
		border: 1px solid transparent;
	margin: 5px;
}.contactform2 
.button-reset {
	color: #787878;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	background: #F0EFEF;
	padding: 0px 20px;
	vertical-align: middle;
	font-size: 18px;
	min-width: 80px;
	min-height: 35px;
	font-family: Segoe UI;
	float: right;
	border: 1px solid transparent;
	margin: 5px;
}.contactform2 
.wdform_page {
	background: transparent;
	border-radius: 0px;
	font-family: Segoe UI;
}.contactform2 
.wdform_column {
	padding-right: 50px !important;
	float: left;
	border-spacing: 2px;
	border-collapse: separate !important;
}.contactform2 
.wdform_section_break2 {
	color: #000;
	display: inline-block;
	text-align: left;
	font-size: 23px;
margin: 16px 10px 40px 0px;
}.contactform2 

.wdform_section_break {
	color: #000;
	font-size: 23px;
margin: 16px 0px;
}.contactform2 

.wdform_section {
	display: inline-block;
}.contactform2 
select {
	padding: 2px;
	height: 26px;
	border: 1px solid #B7B7B7;
background: #F8F8F8;
}.contactform2 
input[type="text"]{
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
}.contactform2 
input[type="password"]{
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
}.contactform2 
textarea {
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
}.contactform2 
input[type="text"]:focus{
	outline: none;
}.contactform2 
input[type="password"]:focus{
	outline: none;
}.contactform2 
textarea:focus{
	outline: none;
}.contactform2 
select {
	outline: none;
}.contactform2 
.input_deactive {
	color: #999999;
	font-style: italic;
}.contactform2 
.input_active {
	color: #000000;
	font-style: normal;
}.contactform2 
.am_pm_select {
	width: 30px;
	vertical-align: middle;
}.contactform2 


.wdform-calendar-button, .contactform2
.wdform-calendar-button:hover {
  display:inline-block;
	background: transparent url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/03/date.png) no-repeat !important;
	border: 0px;
	color: transparent;
	width: 22px;
	height: 22px;
	position: relative;
	left: -22px;
	vertical-align: top;
	outline: none;
}.contactform2 


.forlabs {
	float: right;
	margin-right: 20px;
}.contactform2 

.if-ie-div-label {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}.contactform2 
.wdform-ch-rad-label {
	display: inline;
	margin: -4px 5px 5px 5px;
	float: left;
	color: #000;
	cursor: pointer
}.contactform2 
textarea {
	padding-top: 5px;
}.contactform2 
.wdform-date {
  display:inline-block;
	width: 105px
}.contactform2 
.wdform_footer {
	margin-top: 15px;
}.contactform2 
.page-numbers {
	vertical-align: middle;
}.contactform2 
.time_box {
	text-align: right;
	width: 30px;
	vertical-align: middle
}.contactform2 
.mini_label {
	font-size: 10px;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	color: #8A8A8A;
}.contactform2 
.wdform-label {
	border: none;
	color: #000;
	vertical-align: top;
	line-height: 17px;
}.contactform2 
.wdform_colon {
	color: #000
}.contactform2 
.wdform_separator {
	font-style: bold;
	vertical-align: middle;
	color: #000;
}.contactform2 
.wdform_line {
	color: #000
}.contactform2 
.wdform-required {
	border: none;
	color: red;
	vertical-align: top;
}.contactform2 
.captcha_img {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border-radius: 0px;
}.contactform2 
.captcha_refresh {
	width: 30px;
	height: 30px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(http://uschinayale.org/wp-content/plugins/contact-form-builder/images/refresh_black.png);
}.contactform2 
.captcha_input {
	height: 20px;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}.contactform2 
.file_upload {
	border: 0px solid white;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	color: black;
	background-color: white;
}.contactform2 
.page_deactive {
color: #000;
background-color: #FFF;
cursor: pointer;
display: inline-block;
height: 29px;
text-align: center;
vertical-align: bottom;
padding: 5px 25px 0px 25px;
font-size: 16px;
font-weight:bold;
}.contactform2 
.page_active {
color: #FFF;
cursor: pointer;
background-color: #000;
display: inline-block;
vertical-align: bottom;
height: 29px;
text-align: center;
font-size: 20px;
padding: 5px 25px 0px 25px;
line-height: 26px;
font-weight:bold;
}.contactform2 
.page_percentage_active {
padding: 0px;
margin: 0px;
border-spacing: 0px;
height: 16px;
line-height: 16px;
font-size: 15px;
float: left;
text-align: right !important;
z-index: 1;
position: relative;
vertical-align: middle;
background: #000;
color: #fff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}.contactform2 
.page_percentage_deactive {
height: 16px;
line-height: 16px;
background-color: #F1F1F1;
text-align: left !important;
margin-bottom: 1px;
border-radius: 5px;
}.contactform2 
.page_numbers {
	font-size: 14px;
	color: #000;
}.contactform2 
.phone_area_code {
	width: 50px;
}.contactform2 
.phone_number {
	width: 100px;
}.contactform2 
button {
	cursor: pointer;
}.contactform2 
.other_input {
	border-radius: 0px;
	border-width: 1px;
	height: 16px;
	font-size: 12px;
	padding: 1px;
	margin: 1px;
	margin-left: 25px;
	z-index: 100;
	position: absolute;
}.contactform2 
.wdform_page_navigation {
	text-align: right !important;
}.contactform2 

.wdform_percentage_text {
margin: 3px 5px 3px 9px;
color: #FFF;
font-size: 12px;
}.contactform2 
.wdform_percentage_title {
	color: #6E6E6E;
	font-style: italic;
	margin: 0px 0px 0px 40px;
	display: inline-block;
	line-height: 27px;
	height: 27px;
	vertical-align: middle;
}.contactform2 
.wdform_button button {
	background: #4D792C;
	cursor: pointer;
	font-size: 17px;
	border-radius: 0px;
	min-width: 80px;
	min-height: 31px;
	color: #fff;
	border: 2px solid #68943B;
	margin: 5px;
	box-shadow: 0px 0px 2px #c9c9c9;
	font-family: Segoe UI;
}.contactform2 </style><form name="contactform2" action="/" method="post" id="contactform2" class="contactform2" enctype="multipart/form-data" onsubmit="check_required('submit', '2'); return false;">
      <input type="hidden" id="counter2" value="34" name="counter2" />
      <input type="hidden" id="Itemid2" value="" name="Itemid2" /><div class="wdform-page-and-images" style="display:table; border-top:0px solid black;"><div id="2contactform_view1" class="wdform_page" page_title="Untitled page" next_title="Next" next_type="text" next_class="wdform-page-button" next_checkable="false" previous_title="Previous" previous_type="text" previous_class="wdform-page-button" previous_checkable="false"><div class="wdform_section"><div class="wdform_column"></div></div><div wdid="1" type="type_section_break" class="wdform_tr_section_break" disabled="yes" style="opacity: 0.4;"></div><div class="wdform_section"><div class="wdform_column"><div wdid="33" class="wdform_row" style="opacity: 1;"><div type="type_map" class="wdform-field"  style="width:300px"><div class="wdform-label-section" style="display: table-cell;"><span id="wdform_33_element_label2" style="display: none;">map_33</span></div><div class="wdform-element-section wdform_map" style="width: 300px;"><div id="wdform_33_element2" zoom="17" center_x="-72.92063357857359" center_y="41.31511161716064" style="width: 100%; height: 300px;" long0="-72.920344" lat0="41.315289" info0="" ></div></div></div></div><div wdid="3" class="wdform_row" style="opacity: 1;"><div type="type_name" class="wdform-field"  style="width:460px"><div class="wdform-label-section" style="float: left;; width: 100px;"><span class="wdform-label">Name:</span><span class="wdform-required">*</span></div>
              <div class="wdform-element-section " style=" width: 360px;">
                <div style="display: table-cell; width:50%">
                  <div><input type="text" class="input_deactive" id="wdform_3_element_first2" name="wdform_3_element_first2" value="" title=""  style="width: 100%;"></div>
                  <div><label class="mini_label">First</label></div>
                </div>
                <div style="display:table-cell;"><div style="margin: 0px 8px; padding: 0px;"></div></div>
                <div  style="display: table-cell; width:50%">
                  <div><input type="text" class="input_deactive" id="wdform_3_element_last2" name="wdform_3_element_last2" value="" title="" style="width: 100%;" ></div>
                  <div><label class="mini_label">Last</label></div>
                </div></div></div></div><div wdid="4" class="wdform_row"><div type="type_submitter_mail" class="wdform-field"  style="width:460px"><div class="wdform-label-section" style="float: left;; width: 100px;"><span class="wdform-label">E-mail:</span><span class="wdform-required">*</span></div><div class="wdform-element-section " style=" width: 360px;"><input type="text" class="input_deactive" id="wdform_4_element2" name="wdform_4_element2" value="someone@example.com" title="someone@example.com"  style="width: 100%;" ></div></div></div><div wdid="7" class="wdform_row"><div type="type_phone" class="wdform-field" style="width:465px"><div class="wdform-label-section " style="float: left;; width: 100px;"><span class="wdform-label" >Phone:</span>
              </div>
              <div class="wdform-element-section " style=" width: 365px;">
                <div style="display: table-cell;vertical-align: middle;">
                  <div><input type="text" class="input_deactive" id="wdform_7_element_first2" name="wdform_7_element_first2" value="" title="" style="width: 50px;" ></div>
                  <div><label class="mini_label">Area Code</label></div>
                </div>
                <div style="display: table-cell;vertical-align: middle;">
                  <div class="wdform_line" style="margin: 0px 4px 10px 4px; padding: 0px;">-</div>
                </div>
                <div style="display: table-cell;vertical-align: middle; width:100%;">
                  <div><input type="text" class="input_deactive" id="wdform_7_element_last2" name="wdform_7_element_last2" value="" title="" style="width: 100%;" ></div>
                  <div><label class="mini_label">Phone Number</label></div>
                </div>
              </div>
              </div></div><div wdid="8" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="15" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="22" class="wdform_row"><div type="type_text" class="wdform-field" style="width:470px"><div class="wdform-label-section" style="float: left; width: 100px;"><span class="wdform-label">Subject:</span><span class="wdform-required">*</span></div><div class="wdform-element-section" style=" width: 360px;"  ><input type="text" class="input_deactive" id="wdform_22_element2" name="wdform_22_element2" value="" title=""  style="width: 100%;" ></div></div></div><div wdid="26" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="23" class="wdform_row"><div type="type_textarea" class="wdform-field"  style="width:470px"><div class="wdform-label-section" style="float: left;; width: 100px;"><span class="wdform-label">Details:</span><span class="wdform-required">*</span></div><div class="wdform-element-section " style=" width: 360px"><textarea class="input_deactive" id="wdform_23_element2" name="wdform_23_element2" title=""  style="width: 100%; height: 100px;" ></textarea></div></div></div><div wdid="25" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="27" class="wdform_row"><div type="type_send_copy" class="wdform-field"><div class="wdform-label-section" style="float: left; width: 260px;"><span class="wdform-label"><label for="wdform_27_element2">Send a copy of this message to yourself:</label></span></div>
              <div class="wdform-element-section" style="min-width:inherit !important; " >
                <div class="checkbox-div" style="left:3px">
                <input type="checkbox" id="wdform_27_element2" name="wdform_27_element2"  />
                <label for="wdform_27_element2"></label>
                </div>
              </div></div></div><div wdid="28" class="wdform_row" style="opacity: 1;"><div type="type_captcha" class="wdform-field"><div class="wdform-label-section" style=" width: 250px;"><span class="wdform-label">Type the characters you see here:</span></div><div class="wdform-element-section " style="display: block;"><div style="display: table;"><div style="display: table-cell;vertical-align: middle;"><div valign="middle" style="display: table-cell; text-align: center;"><img type="captcha" digit="6" src=" http://uschinayale.org/wp-admin/admin-ajax.php?action=ContactFormmakerwdcaptcha&digit=6&i=2" id="wd_captcha2" class="captcha_img" style="display:none" ></div><div valign="middle" style="display: table-cell;"><div class="captcha_refresh" id="_element_refresh2" ></div></div></div><div style="display: table-cell;vertical-align: middle;"><div style="display: table-cell;"><input type="text" class="captcha_input" id="wd_captcha_input2" name="captcha_input" style="width: 75px;" ></div></div></div></div></div></div><div wdid="30" class="wdform_row"><div type="type_submit_reset" class="wdform-field"><div class="wdform-label-section" style="display: table-cell;"></div><div class="wdform-element-section " style="display: table-cell;"><button type="button" class="button-submit" onclick="check_required2(&quot;submit&quot;, &quot;2&quot;);" >Submit</button><button type="button" class="button-reset" onclick="check_required2(&quot;reset&quot;);"  >Reset</button></div></div></div><div wdid="31" class="wdform_row" style="opacity: 1;"><div type="type_editor" class="wdform-field"><p><span style="color: rgb(153, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: normal; background-color: rgb(244, 244, 244);">* Indicates required fields</span></p></div></div><div wdid="2" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="5" class="wdform_row" disabled="yes" style="opacity: 0.4;"></div><div wdid="6" class="wdform_row" disabled="yes" style="opacity: 0.4;"></div><div wdid="16" class="wdform_row" disabled="yes" style="opacity: 0.4;"></div><div wdid="9" class="wdform_row" disabled="yes" style="opacity: 0.4;"></div><div wdid="24" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="29" class="wdform_row" style="opacity: 0.4;" disabled="yes"></div><div wdid="32" class="wdform_row" disabled="yes" style="opacity: 0.4;"></div></div></div><div valign="top" class="wdform_footer" style="width: 100%;"><div style="width: 100%;"><div style="width: 100%; display: table;"><div style="display: table-row-group;"><div id="2contactpage_nav1" style="display: table-row;"></div></div></div></div></div></div></div><div class="wdform_preload"></div></form></div></div>		<!--END #secondary .aside-->
    
		</div>  


		<!--END #content-->
		</div>
    
    	<!--END .container-->
	</div> 
  
  

      	<!--END .content-->
	</div> 
  
  

  
     <!--BEGIN .content-bottom--> 
  <div class="content-bottom">
  
       	<!--END .content-bottom-->
  </div>
			
		<!--BEGIN .footer-->
		<div class="footer">
    
    
   	<!--BEGIN .container-->
	<div class="container container-footer">    
  
  

<div class="clearfix"></div> 
  
  <p id="copyright"><span class="credits">Website by <a href="http://uschinayale.org">Lin, Kai, Lei, Ivan</a></span></p>   


 

  
  

			<!-- Theme Hook -->
      
      

  

<script type="text/javascript">
var $jx = jQuery.noConflict();
  $jx("div.post").mouseover(function() {
    $jx(this).find("span.edit-post").css('visibility', 'visible');
  }).mouseout(function(){
    $jx(this).find("span.edit-post").css('visibility', 'hidden');
  });
  
    $jx("div.type-page").mouseover(function() {
    $jx(this).find("span.edit-page").css('visibility', 'visible');
  }).mouseout(function(){
    $jx(this).find("span.edit-page").css('visibility', 'hidden');
  });
  
      $jx("div.type-attachment").mouseover(function() {
    $jx(this).find("span.edit-post").css('visibility', 'visible');
  }).mouseout(function(){
    $jx(this).find("span.edit-post").css('visibility', 'hidden');
  });
  
  $jx("li.comment").mouseover(function() {
    $jx(this).find("span.edit-comment").css('visibility', 'visible');
  }).mouseout(function(){
    $jx(this).find("span.edit-comment").css('visibility', 'hidden');
  });
</script> 


  

<script type="text/javascript"> 
//
//
// 
// Sticky Header
//
//
//             
  
jQuery(document).ready(function($) {
	if(jQuery('.sticky-header').length >= 1) {
		jQuery(window).scroll(function() {
		     var header = jQuery(document).scrollTop();
		     var headerHeight = jQuery('.menu-header').height();

	       if(header > headerHeight) {
		     	jQuery('.sticky-header').addClass('sticky');
		     	jQuery('.sticky-header').fadeIn();
		     } else {
		     	jQuery('.sticky-header').removeClass('sticky');
		     	jQuery('.sticky-header').hide();
		     }
		});
	}
}); 
</script>
  
 


 

<script type="text/javascript">
//
//
// 
// Animated Buttons
//
//
//      
var $animated = jQuery.noConflict();
$animated('.post-more').hover(
       function(){ $animated(this).addClass('animated pulse') },
       function(){ $animated(this).removeClass('animated pulse') }
)   
$animated('.read-more').hover(
       function(){ $animated(this).addClass('animated pulse') },
       function(){ $animated(this).removeClass('animated pulse') }
)
$animated('#submit').hover(
       function(){ $animated(this).addClass('animated pulse') },
       function(){ $animated(this).removeClass('animated pulse') }
)
$animated('input[type="submit"]').hover(
       function(){ $animated(this).addClass('animated pulse') },
       function(){ $animated(this).removeClass('animated pulse') }
)

</script>




<script type="text/javascript">
var $s = jQuery.noConflict();
	$s(function(){ 
$s('#slides') 
  .anythingSlider({autoPlay: true,delay: 7000,}) 
  })
</script>

 



<script type="text/javascript">
var $par = jQuery.noConflict(); 
  $par('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 450,
          interval	: 4000				});

</script>


<script type="text/javascript">
var $carousel = jQuery.noConflict();
$carousel('#myCarousel').carousel({
interval: 7000
})
$carousel('#carousel-nav a').click(function(q){
q.preventDefault();
targetSlide = $carousel(this).attr('data-to')-1;
$carousel('#myCarousel').carousel(targetSlide);
$carousel(this).addClass('active').siblings().removeClass('active');
});

$carousel('#bootstrap-slider').carousel({
interval: 7000})
$carousel('#carousel-nav a').click(function(q){
q.preventDefault();
targetSlide = $carousel(this).attr('data-to')-1;
$carousel('#bootstrap-slider').carousel(targetSlide);
$carousel(this).addClass('active').siblings().removeClass('active');
});
    
// $('#carousel-rel a').click(function(q){
//         console.log('Clicked');
//         targetSlide = (parseInt($('#carousel-rel a.active').data('to')) + 1) % 3;
//         console.log('targetSlide');
//         $('#carousel-rel a[data-to='+ targetSlide +']').addClass('active').siblings().removeClass('active');
//     });
</script>



 
      
		  

          	<!--END .container-->  
	</div> 



 
		
		<!--END .footer-->
		</div>

<!--END body-->  



     
     <div id="backtotop"><a href="#top" id="top-link"></a></div>   



<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/tabs.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/main.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-content/themes/evolve/library/media/js/gmap.js?ver=4.1.1'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/jquery/ui/effect-shake.min.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://uschinayale.org/wp-includes/js/comment-reply.min.js?ver=4.1.1'></script>
 

</body>
<!--END html(kthxbye)-->
</html>