

<div class="center jumbotron">
  <h1>Welcome to Qute</h1>

  <h2>
    Your online queuing assistant.
  </h2>

  <%= link_to "Sign up now!", 'static_pages/bizusers/new', class: "btn btn-lg btn-primary" %>
</div>
